footer {
  background-color: #000;
  height: 14.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2.5rem;

  span {
    font-size: 24px;
    font-weight: 400;
    color: #fbfbfb;
  }
}
